<ion-menu [content]="conteudo">
  <!-- <ion-content>
    <ion-list>
      <button ion-item (click)="openPage(HomePage)" menuClose>Home</button>
      <button ion-item (click)="openPage(ContasPage)" menuClose>Contas</button>
    </ion-list>
  </ion-content> -->
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav [root]="raiz" #conteudo></ion-nav>
